<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.junittest.dao.UserDao">
    <select id="countUser" resultType="java.lang.Integer">
        SELECT
            COUNT(*)
        FROM
            t_user
    </select>

    <select id="getUser" resultType="com.example.junittest.entity.RoleInfo">
    SELECT
        sur.user_id AS 'userId',
        su.`name`AS 'userName',
        sur.role_id AS 'roleId',
        sr.`name` AS 'roleName'
    FROM
        (
            SELECT
                sur.user_id,sur.role_id
            FROM
                `sys_user_role` sur
            WHERE
                sur.role_id = #{roleId}
        ) sur
    INNER JOIN sys_role sr ON sr.id = sur.role_id
    INNER JOIN sys_user su ON su.id = sur.user_id
    WHERE sur.user_id = #{userId}
    </select>

    <update id="update1">
        update t_user
        set version = version+1
        where id = #{id}
    </update>

    <select id="getUserMap" resultType="java.util.Map">
        SELECT
            t_user.id,
            t_user.user_name,
            t_user.user_acct,
            t_user.version
        FROM `t_user`
        where t_user.id = #{userId}
    </select>

</mapper>