<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>登陆</title>
</head>
<body>
<h1>登陆</h1>
<form method="post" action="/login">
    <div>
        用户名：<input type="text" name="username">
    </div>
    <div>
        密码：<input type="password" name="password">
    </div>
    <div>
        <button type="submit">立即登陆</button>
    </div>
</form>
</body>
</html>

<script>
    var webSocket;
    if (window.WebSocket) {
        webSocket = new WebSocket("ws://localhost:8080/webauth/websocket",);

        //连通之后的回调事件
        webSocket.onopen = function () {
            webSocket.send("发送数据");
        };
        //接收后台服务端的消息
        webSocket.onmessage = function (evt) {
            var received_msg = evt.data;
            alert("数据已接收:" + received_msg);
        };

        //连接关闭的回调事件
        webSocket.onclose = function () {
            alert("连接已关闭...");
        };
    }

</script>
